body {
  font-family: "Inter", sans-serif;
}

.header .container .header-top {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header .container .header-top .logo-brand {
  margin-left: 1rem;
}
.header .container .header-top .logo-brand h1 {
  color: #fff;
  font-weight: 300;
}
.header .container .header-top .header-login {
  color: #fff;
  display: flex;
  margin-right: 45px;
  align-items: center;
}
.header .container .header-top .header-login h3 {
  margin: 0 1rem 0 0.5rem;
  font-weight: 400;
}
.header .container .header-top .header-login #login {
  color: #fff;
  margin-right: 1.5rem;
}
.header .container .header-top .header-login #register {
  color: #fff;
}
.header .container .header-bottom {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header .container .header-bottom a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0.7rem;
  text-decoration: none;
}
.header .container .header-bottom a.active {
  border-bottom: 1px solid #000000;
}
.header .container .header-bottom .home {
  margin-left: 1rem;
}

.productDetail .detail-content {
  padding-top: 30px;
}
.productDetail .detail-content .detailimg {
  background-color: #f8f8f8;
  position: relative;
  width: 334px;
  height: 355px;
}
.productDetail .detail-content .detailimg img {
  position: absolute;
  width: 220px;
  left: 57px;
  top: 47px;
}
.productDetail .detail-content .detailND {
  padding-left: 120px;
}
.productDetail .detail-content .detailND h1 {
  color: #000;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
}
.productDetail .detail-content .detailND p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.productDetail .detail-content .detailND h3 {
  color: #1ed90e;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.productDetail .detail-content .detailND .buttonGroup {
  padding-top: 17px;
}
.productDetail .detail-content .detailND .buttonGroup button {
  background: #cccccc;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.productDetail .detail-content .detailND .buttonGroup .size.active {
  background-color: #000;
  color: #fff;
}
.productDetail .detail-content .detailND h2 {
  padding-top: 17px;
  color: #fc0303;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
.productDetail .detail-content .detailND .detailSoluong button {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.productDetail .detail-content .detailND .detailSoluong p {
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}
.productDetail .detail-content .detailND .btnAdd {
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  padding: 18px 24px;
}

.realateProdcut {
  padding-top: 100px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem {
  margin-top: 30px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card {
  background: #f8f8f8;
  border: none;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card img {
  padding: 30px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card .card-body {
  padding-bottom: 0px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card .card-body #id {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card .card-body #mota {
  color: #cbc9c9;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card .card-body #buttons .btnBuy {
  height: 64px;
  border-radius: 0px !important;
  background-color: #e1b067;
  color: #000;
  font-size: 24px;
  font-weight: 200;
  line-height: 50px;
}
.realateProdcut .container .realate-content .realateItem-group .realateItem .card .card-body #buttons .btnPrice {
  border-radius: 0px !important;
  background-color: #deddcc;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
}

footer {
  margin-top: 100px;
}
footer .footer-top-content, footer .footer-bottom-content {
  padding-top: 30px;
  max-width: 1280px;
  margin: auto;
}
footer .footer-top {
  background-color: #fafafa;
}
footer .footer-bottom {
  background-color: #f5f5f5;
}
footer .row {
  padding-bottom: 30px;
}
footer .row .footerCol .Ftitle {
  font-size: 20px;
  font-weight: 700;
}
footer .row .footerCol ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .row .footerCol .alink {
  color: rgb(190, 9, 9);
  text-decoration: none;
}