:root {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container-custom {
  width: 1280px;
}

a {
  text-decoration: none;
}

.header .container .header-top {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header .container .header-top .logo-brand {
  margin-left: 1rem;
}
.header .container .header-top .logo-brand h1 {
  color: #fff;
  font-weight: 300;
}
.header .container .header-top .header-login {
  color: #fff;
  display: flex;
  margin-right: 45px;
  align-items: center;
}
.header .container .header-top .header-login h3 {
  margin: 0 1rem 0 0.5rem;
  font-weight: 400;
}
.header .container .header-top .header-login #login {
  color: #fff;
  margin-right: 1.5rem;
}
.header .container .header-top .header-login #register {
  color: #fff;
}
.header .container .header-bottom {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header .container .header-bottom a {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0.7rem;
  text-decoration: none;
}
.header .container .header-bottom a.active {
  border-bottom: 1px solid #000000;
}
.header .container .header-bottom .home {
  margin-left: 1rem;
}

.register .container-custom {
  margin: auto;
}
.register .container-custom .title-register {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.register .container-custom .title-register h3 {
  font-size: 40px;
  font-weight: 400;
}
.register .container-custom .form-register .row .left .form-left {
  padding: 0 5.2rem;
}
.register .container-custom .form-register .row .left .form-left .col-12 {
  position: relative;
  margin-bottom: 1.5rem;
}
.register .container-custom .form-register .row .left .form-left .col-12 input {
  font-size: 30px;
  color: black;
  width: 100%;
  border: none;
  padding-bottom: 1rem;
  outline: none;
}
.register .container-custom .form-register .row .left .form-left .col-12 input::-moz-placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .left .form-left .col-12 input:-ms-input-placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .left .form-left .col-12 input::placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .left .form-left .col-12 .overlay {
  content: "";
  position: absolute;
  width: 461px;
  height: 4px;
  bottom: 0;
  left: 4px;
  border: 1px solid #AE18E2;
  background-color: #AE18E2;
  margin: 0 0.5rem;
}
.register .container-custom .form-register .row .left .form-left .col-12 .validation {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: #F50E0E;
  font-weight: 400;
}
.register .container-custom .form-register .row .right .form-right {
  padding: 0 5.2rem;
}
.register .container-custom .form-register .row .right .form-right .col-12 {
  position: relative;
  margin-bottom: 1.5rem;
}
.register .container-custom .form-register .row .right .form-right .col-12 input {
  outline: none;
  font-size: 30px;
  color: black;
  width: 100%;
  border: none;
  padding-bottom: 1rem;
}
.register .container-custom .form-register .row .right .form-right .col-12 input::-moz-placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .right .form-right .col-12 input:-ms-input-placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .right .form-right .col-12 input::placeholder {
  color: black;
  font-weight: 400;
}
.register .container-custom .form-register .row .right .form-right .col-12 .overlay {
  content: "";
  position: absolute;
  width: 461px;
  height: 4px;
  bottom: 0;
  left: 4px;
  border: 1px solid #AE18E2;
  background-color: #AE18E2;
  margin: 0 0.5rem;
}
.register .container-custom .form-register .row .right .form-right .col-12 .validation {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: #F50E0E;
  font-weight: 400;
}
.register .container-custom .form-register .row .right .form-right .gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register .container-custom .form-register .row .right .form-right .gender p {
  margin-bottom: 0;
}
.register .container-custom .form-register .row .right .form-right #btnSubmit {
  margin-top: 20px;
  width: 290px;
  color: #fff;
  background-color: #AE18E2;
  border: none;
  padding: 12px 20px;
}

footer {
  margin-top: 100px;
}
footer .footer-top-content, footer .footer-bottom-content {
  padding-top: 30px;
  max-width: 1280px;
  margin: auto;
}
footer .footer-top {
  background-color: #fafafa;
}
footer .footer-bottom {
  background-color: #f5f5f5;
}
footer .row {
  padding-bottom: 30px;
}
footer .row .footerCol .Ftitle {
  font-size: 20px;
  font-weight: 700;
}
footer .row .footerCol ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .row .footerCol .alink {
  color: rgb(190, 9, 9);
  text-decoration: none;
}