footer{
    margin-top: 100px;
        .footer-top-content, .footer-bottom-content{
            padding-top: 30px;
            max-width: 1280px;
            margin: auto;
        }
        .footer-top{
            background-color: #fafafa;
        }
        .footer-bottom{
            background-color: #f5f5f5;
        }
        .row{
            padding-bottom: 30px;
        
        .footerCol{
            .Ftitle{
                font-size: 20px;
                font-weight: 700;
            }
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
            }
            .alink{
                color: rgb(190, 9, 9);
                text-decoration: none;
            }
        }}
        
    }
