.header {
    .container{
        .header-top{
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            .logo-brand{
              margin-left: 1rem;
                h1 {
                color:#fff;
                font-weight: 300;

                }
            }
            .header-login{
              color:#fff;
              display: flex;
                margin-right:45px;
                align-items: center;
                h3{
                  margin:0 1rem 0 0.5rem;
                  font-weight: 400;
                }
                #login {
                  color: #fff;
                  margin-right:1.5rem;
                }
                #register {
                  color: #fff;
                }
            }
        }
        .header-bottom{
          display: flex;
          align-items: center;
            height: 50px;
            width: 100%;
            a {
              color: black;
              font-size:20px;
              font-weight: 400;
              margin: 0 0.7rem;
              text-decoration: none;

            }
            a.active {
              
              border-bottom: 1px solid #000000;;
            }
            .home{
              margin-left:1rem;
            }
        }
    }
}